@use "../../assets/styles/global.scss" as *;

.container {
  @include flexContainer;
  width: 216px;
  height: 27px;
}

.number {
  text-align: left;
  border: none;
  font-family: "Segoe UI";
  color: #6c6c78;
  background: none;
  font-size: 16px;
  cursor: pointer;
}

.icons {
  display: flex;
}

.active {
  border-bottom: 2px solid #1298d2;
}
