:root {
  --space-station: #6c6c78;
  --old-world: #b4b7d4;
  --white: #ffffff;
  --liquid-nitrogen: #f7f7f8;
  --errigal-white: #efeff2;
  --night-sky: #2c2c37;
  --deep-purple: #566a8a14;
  //blue
  --rich-electric-blue: #1298d2;
  --honorable-blue: #184979;
  --gray: gray;
}
