@use "../../assets/styles/global.scss" as *;

.container {
  text-align: var(--text-al);
  font-family: var(--font-family-montserrat), sans-serif;
  color: var(--night-sky);
  font-size: $fs-s;
  font-weight: $fw-500;
  background-color: var(--white);
  @include no-border;
}
img {
  padding: 0 5px;
  &.disabled {
    filter: invert(48%) sepia(79%) saturate(0%) hue-rotate(0deg)
      brightness(100%) contrast(0%);
  }
}
button {
  @include cursor-pointer;
}
button[disabled] {
  color: var(--gray);
  cursor: default;
}
