@use "../../assets/styles/global.scss" as *;

$aligment-left: left;
$padding: 20px 60px;

.container {
  @include display-flex;
  @include justify-content-space-between;
  background: var(--liquid-nitrogen);
  padding: $padding;
  .authorTitle {
    text-align: var(--text-al);
    font-family: var(--font-family-segoe);
    font-size: $fs-s;
    font-weight: $fw-400;
    padding-bottom: 10px;
    color: var(--space-station);
  }
  .authorDesc {
    text-align: var(--text-al);
    font-size: $fs-m;
    font-weight: $fw-600;
    font-family: var(--font-family-montserrat);
    color: var(--night-sky);
  }
}
