@use "../../assets/styles/global.scss" as *;

.header {
  @include display-flex;
  @include align-items-center;
  font-size: $fs-xxl;
  p {
    @include no-margin;
    font-family: var(--font-family-montserrat);
    font-weight: $fw-400;
  }
}
