@use "../../assets/styles/global.scss" as *;

.commentTitle {
  text-align: left;
  font: normal normal 600 30px/35px Montserrat;
  letter-spacing: 0px;
  color: #2c2c37;
  opacity: 1;
  margin-bottom: 3%;
}
.comments {
  display: flex;
  flex-direction: column;
}
